In [167]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy

In [168]:
df = pd.read_csv(
    'nonvoters_data.csv')

# Clean up data
## Right now our data is hard to read

In [169]:
df.head()

,RespId,weight,Q1,Q2_1,Q2_2,Q2_3,Q2_4,Q2_5,Q2_6,Q2_7,...,Q30,Q31,Q32,Q33,ppage,educ,race,gender,income_cat,voter_category
0,470001,0.7516,1,1,1,2,4,1,4,2,...,2,NaN,1.0,NaN,73,College,White,Female,$75-125k,always
1,470002,1.0267,1,1,2,2,3,1,1,2,...,3,NaN,NaN,1.0,90,College,White,Female,$125k or more,always
2,470003,1.0844,1,1,1,2,2,1,1,2,...,2,NaN,2.0,NaN,53,College,White,Male,$125k or more,sporadic
3,470007,0.6817,1,1,1,1,3,1,1,1,...,2,NaN,1.0,NaN,58,Some college,Black,Female,$40-75k,sporadic
4,480008,0.9910,1,1,1,-1,1,1,1,1,...,1,-1.0,NaN,NaN,81,High school or less,White,Male,$40-75k,always

### Question one  
#### "Are you a U.S. citizen?"
1. Yes
2. No [TERMINATE]

### If all respondents were US citizens, does it make sense to include this variable?

#### Let's find out.

In [170]:
df['Q1'].value_counts()

1    5836
Name: Q1, dtype: int64

### We're dropping it!

In [171]:
df = df.drop(['Q1'], axis=1)

### How about question two?

### Question 2

BASE: ALL RESPONDENTS

In your view, how important are each of the following to being a good American?

Randomize
1. Voting in elections
2. Serving on a jury
3. Following what happens in government and politics
4. Displaying the American flag
5. Participating in the U.S. Census every ten years
6. Knowing the Pledge of Allegiance
7. Supporting the military
8. Respecting the opinions of those who disagree with you
9. Believing in God
10. Protesting if you believe government actions are wrong
[Accordion grid - FLIP 1-4;4-1]
1.​ ​Very important
2.​ ​Somewhat important
3.​ ​Not so important
4.​ ​Not at all important

### We'll create a dictionary so we know the values of our columns

In [172]:
columns=list(df)

index_values = list(range(0,118))

dictionary = dict(zip(columns, index_values))

TypeError: 'list' object is not callable

### Now we'll create a dictionary with our old and new values to rename for question two

In [ ]:
old_values = [" Q2_1 ",
" Q2_2 ",
" Q2_3 ",
" Q2_4 ",
" Q2_5 ",
" Q2_6 ",
" Q2_7 ",
" Q2_8 ",
" Q2_9 ",
" Q2_10 "]

new_values= ["imp-voting", "imp-jury-duty", "knowing-happenings", "display-flag", "census-partcip", "pledge-alleg", "military-support", "respect-opinion", "believe-god", "protest-govt-wrong"]

new_dictionary = dict(zip(old_values, new_values))

def values():
    for i in new_dictionary:
        print('"',i,'":"',new_dictionary[i],'",')
       

df = df.rename(columns={"Q2_1":"imp-voting",
"Q2_2":"imp-jury-duty",
"Q2_3":"knowing-happenings",
"Q2_4":"display-flag",
"Q2_5":"census-partcip",
"Q2_6":"pledge-alleg",
"Q2_7":"military-support",
"Q2_8":"respect-opinion",
"Q2_9":"believe-god",
"Q2_10":"protest-govt-wrong"})

df.iloc[:,2:12]

#### Subset of our data

In [226]:
df.iloc[:,3:13].describe()
question_three_new.mean()

racism_us                   1.904044
racism_policing             2.384510
society_femenine            2.630055
mainsteam_media             1.862406
traditional_parties         2.015764
ppl_talk_diff_background    2.067169
dtype: float64

#### Why is -1 the min for all these values? 

The question asks the respondents to answer on a scale of 1-4 with 1 being the most improtant. 

We'll move on for now

### Question 3

#### How much do you agree or disagree with the following statements?

1.Systemic racism is a problem in the United States.

2.Systemic racism in policing is a bigger problem than violence and vandalism
in protests.

3.​ ​Society as a whole has become too soft and feminine.

4.​ ​The mainstream media is more interested in making money than telling the
truth.

5.​ ​Traditional parties and politicians don’t care about people like me.

6.​ ​The way people talk needs to change with the times to be more sensitive to
people with different backgrounds.

[Accordion grid - FLIP 1-4;4-1]

1.​ ​Strongly agree
2.​ ​Somewhat agree
3.​ ​Somewhat disagree
4.​ ​Strongly disagree

In [218]:
question_three_old= df.iloc[:,12:18]

question_three_old.describe()

nums = range (1,7)

new_values= ["racism_us", "racism_policing", "society_fem", "mainsteam_media", "traditional_parties", "ppl_talk_diff_background"]


new_values_with_quotes = []

new_list=[]

for value in new_values:
    new_values_with_quotes.append('"'+value+'",')

for num in nums: 
    new_list.append('"Q3_'+str(num)+'"'+":")
    
    new_dict= dict(zip(new_list, new_values_with_quotes))

#for i in new_dict: use this to population columns
 #   print (i, new_dict[i])

    
question_three_new = question_three_old.rename(columns={"Q3_1": "racism_us","Q3_2": "racism_policing",
"Q3_3": "society_femenine",
"Q3_4": "mainsteam_media",
"Q3_5": "traditional_parties",
"Q3_6": "ppl_talk_diff_background"})

question_three_new

,racism_us,racism_policing,society_femenine,mainsteam_media,traditional_parties,ppl_talk_diff_background
0,1,1,4,4,3,2
1,3,3,4,3,3,2
2,2,2,3,3,2,2
3,1,1,4,4,2,1
4,4,-1,1,1,2,4
...,...,...,...,...,...,...
5831,1,1,3,1,1,2
5832,1,1,3,2,2,1
5833,1,3,4,2,4,2
5834,4,3,3,3,3,3
5835,1,1,4,3,2,3

In [219]:
question_three_new.describe()

,racism_us,racism_policing,society_femenine,mainsteam_media,traditional_parties,ppl_talk_diff_background
count,5836.000000,5836.000000,5836.000000,5836.000000,5836.000000,5836.000000
mean,1.904044,2.384510,2.630055,1.862406,2.015764,2.067169
std,1.067898,1.193323,1.118382,0.986499,0.868229,0.974892
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000
75%,3.000000,3.000000,4.000000,2.000000,3.000000,3.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [225]:
question_three_new.mean()

racism_us                   1.904044
racism_policing             2.384510
society_femenine            2.630055
mainsteam_media             1.862406
traditional_parties         2.015764
ppl_talk_diff_background    2.067169
dtype: float64

### Question 4

#### How much of an impact, if any, do each of the following have on your life?

1.​ ​Elected officials in Washington, D.C. (e.g. the president, member of Congress)

2.​ ​Elected officials in my state (e.g. governor, state representative)

3.​ ​Elected officials in my city or community (e.g. mayor, city council)

4.​ ​The news media

5.​ ​Large financial institutions on Wall Street

6.​ ​Law enforcement and the legal system

##### Responses 
1.​ ​A significant impact

2.​ ​Somewhat of an impact

3.​ ​Just a slight impact

4.​ ​No impact at all

In [234]:
question_four_old= df.iloc[:,19:24]

nums = range (1,7)

new_values= ["dc_elected_officials", "estate_elected_officials", "city_elected_officials", "news_media", "wall_street", "law_enforcement"]


new_values_with_quotes = []

new_list=[]

for value in new_values:
    new_values_with_quotes.append('"'+value+'",')

for num in nums: 
    new_list.append('"Q4_'+str(num)+'"'+":")
    
new_dict= dict(zip(new_list, new_values_with_quotes))

for i in new_dict: #use this to populate columns
    print (i, new_dict[i])
    
question_four_new = question_four_old.rename(columns={"Q4_1": "dc_elected_officials",
"Q4_2": "dc_elected_officials",
"Q4_3": "city_elected_officials",
"Q4_4": "news_media",
"Q4_5": "wall_street",
"Q4_6": "law_enforcement"})

question_four_new.describe()

"Q4_1": "dc_elected_officials",
"Q4_2": "estate_elected_officials",
"Q4_3": "city_elected_officials",
"Q4_4": "news_media",
"Q4_5": "wall_street",
"Q4_6": "law_enforcement",

,dc_elected_officials,city_elected_officials,news_media,wall_street,law_enforcement
count,5836.000000,5836.000000,5836.000000,5836.000000,5836.000000
mean,1.829335,2.002913,2.432317,2.338588,2.029130
std,0.892511,0.926146,1.030991,1.036849,0.973606
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,1.000000,2.000000,2.000000,1.000000
50%,2.000000,2.000000,2.000000,2.000000,2.000000
75%,2.000000,3.000000,3.000000,3.000000,3.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000